body{
    background-image: linear-gradient(to right, black, gray);
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.col-12{
    margin-top: 10%;
}
h1{
    text-decoration: underline;
}
.col-11{
    margin-top: 10%;
    margin-left: 25%;
    margin-bottom: 10%;
}
.estiloConteúdo1{
    background-color: black;
    box-shadow: white 5px 5px 0px 5px;
}
.estiloConteúdo2{
    background-color: black;
    box-shadow: white 5px 5px 0px 5px;
    
}
